.konami {
    background-color: #336699;
    color: white;
    font-family: sans-serif;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  