body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

main form {
    
    padding: 15px;
    margin: 15px;
}